body{
	font-family: Arial, sans-serif;
}
.tblSelector td{
	width: 12px;
	height: 12px;
	border: 1px solid black;
	font-size: 9px;
	white-space: nowrap;
	cursor: pointer;
}
.monthName{
	width:100px;
}
.tblSelector .free{
	background-color: green;	
}
.tblSelector .busy{
	background-color: red;
}
.tblSelector .select{
	background-color: #F5F236;
} 
.tblSelector td{
	border: 1px solid grey;
	padding: 1px 3px 1px 1px;
}

.tblPrices{
	border: 1px solid grey;
}

.tblPrices td input{
	width: 60px;
	height: 10px;
	border: 1px solid grey;
}
